
body {
    background-color: black;
    font-family: verdana, sans-serif;
    text-align: center;
    color: white;
}


h1 {
    font-size: 50px;
}

a {
    color: aquamarine;
    font-size: 16px;
}

p {
    color: gray;
    font-size: 21px;
}

h2 {
    font-weight: 300;
    font-size: 42px;
}

.right-align {
    text-align: right;
}